.btn-space {
    margin-right: 5px;
}
.job-tile {
    margin-top: 50px;
}
.vendor-carousel {
    margin-top: 20px;
}
.nav-10 {
    height: 5rem;
}

/* remove accordion border */
.accordionBtn:focus,
.accordionBtn {
    outline: none ;
    box-shadow: none;
    /* text-decoration: none !important; */

  }
/* accordion job delete button */
.btn-delete {
outline: none !important;
box-shadow: none !important;
background: none;
}