.align-center-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carousel-caption.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

