{% extends "layout.html" %}
<!-- {% block title %}My Child Page{% endblock %} -->
{% block content %}
<div class="container">
    <div class="container row">
    <button type="button" class="btn btn-secondary btn-lg col btn-space">Request a Service</button>
    <button type="button" class="btn btn-secondary btn-lg col btn-space">Active Jobs</button>
    <button type="button" class="btn btn-secondary btn-lg col btn-space">Completed Jobs</button>
    <button type="button" class="btn btn-secondary btn-lg col btn-space">My Cart</button>
    </div>

    <!-- My jobs tiles -->
    <div class="container job-tile">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Car Wash</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia libero eius ullam cumque laborum cupiditate dignissimos aspernatur tempore, eveniet at in incidunt, nulla necessitatibus quas voluptas! Amet debitis temporibus nemo hic dicta nobis quos. Veritatis nostrum ducimus et dolores quas, fuga nemo nobis ab molestias nihil sequi atque praesentium suscipit?</p>
            <p>
                <a class="btn btn-secondary" href="#" role="button">Kshs. 2000</a>
                <a class="btn btn-secondary" href="#" role="button">Accept Bid</a>
            </p>
          </div>
          <div class="col-md-4">
            <h2>Minor Service</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt at error voluptatum consectetur. Molestiae ducimus reiciendis incidunt, reprehenderit hic doloribus sed, ea quod quidem, magni nemo provident animi inventore magnam aliquam. Fuga obcaecati soluta voluptatibus est reprehenderit neque inventore. Eum.</p>
            <p>
                <a class="btn btn-secondary" href="#" role="button">Kshs. 2000</a>
                <a class="btn btn-secondary" href="#" role="button">Accept Bid</a>
            </p>
          </div>
          <div class="col-md-4">
            <h2>Engine Overhaul</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi eligendi alias maxime earum autem molestiae! Eius, laudantium repudiandae enim quas ex nemo laboriosam dolor sequi culpa officiis repellendus? Doloribus quibusdam tempore porro earum vel nisi.</p>
            <p>
                <a class="btn btn-secondary" href="#" role="button">Kshs. 2000</a>
                <a class="btn btn-secondary" href="#" role="button">Accept Bid</a>
            </p>
          </div>
        </div>
        <hr>
      </div>
{% endblock content %}