<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if title %}
  <title>Service Mtaani - {{ title }}</title>
  {% else %}
  <title>Service Mtaani</title>
  {% endif %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/styles/button.css">
  <link rel="stylesheet" href="../static/styles/style.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" rel="stylesheet"/>

</head>
<body>
  <!-- Navigation Bar -->
  <nav class="container navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container">
      <img src="../static/images/logo.png" alt="service mtaani logo" srcset="" height="40px">
      <a class="navbar-brand" href="#">ServiceMtaani</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a id="home-link" class="nav-link" href="{{ url_for(current_user.__class__.__name__) }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact Us</a>
          </li>
        </ul>
        
        <form class="form-inline my-2 my-lg-0">
          <button id="logout-btn" class="btn btn-outline-danger my-2 ml-sm-2" type="submit">Log Out</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- End of Navigation Bar -->

  <div class="container">
    {% block content %}{% endblock %}
    <div class="card" style="background-color: #f9f9fa;">
      <div class="card-body">
        <div class="row">
          <div class="col-5"><h4 class="card-title">Featured Parts</h4> </div>
          <div class="col-5">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" id="search-item" aria-label="Search" onkeyup="search()">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
          </div>
          <div class="col-2"><span class="top float-right"><button class="btnPlayOwlCarousel btn-general">Play</button></span></div>
        </div>
      </div>
      <div class="container owl-carousel" id="featuredParts">
        {% for part in parts %}
        <div class="featuredItem bg-dark">
          <!-- <div class="image-container"> -->
            <img src="../static/images/{{part.part_image}}" alt="image" />
            <!-- </div> -->
            <div class="partOverlay">
              <div class="part-info">
                <!-- <p>Part: {{ part.part_name }}<br>Price: Ksh. {{part.part_price}}</p> -->
                <p><h6 class="name" style="margin-bottom: 0;padding-bottom: 0;font-size: small;">Part: {{ part.part_name }}</h6><br><h6 class="price" style="font-size:small;margin-top: 0;padding-top: 0;">Price: Ksh. {{part.part_price}}</h6></p>
                <a class="btn btn-general orderPartBtn" data-part-id="{{part.part_id}}">Order this part</a>
              </div>
            </div>
          </div> 
          {% endfor %}
        </div>

      </div>
    </div>
    <!-- end of carousel -->

    <!-- footer section -->
    <div class="container footer">
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="../static/images/logo.png" alt="" width="30" height="20">
            <small class="d-block mb-3 text-muted">© 2023</small>
          </div>
          <div class="col-6 col-md">
            <!-- <h5 class="text-secondary">Brand</h5> -->
            <!-- <ul class="list-unstyled text-small">
              <li><a href="#">About</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#features">Features</a></li>
              <li><a href="#testimonials">Testimonials</a></li>
            </ul> -->
          </div>
          <div class="col-6 col-md">
            <h5 class="text-secondary">More</h5>
            <ul class="list-unstyled text-small">
              <li><a href="#">FAQ's</a></li>
              <li><a href="#">Privacy & Policy</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5 id="contact" class="text-secondary">Contact</h5>
            <ul class="list-unstyled text-small">
              <li>Address: Dar-es-Salaam Rd off Enterprise Road, Industrial Area</li>
              <li>Email: info@servicemtaani.com</li>
              <li>Phone: +254700100200</li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <!-- End footer section -->
  </div>

  <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- font awesome icons -->
    <script src="https://kit.fontawesome.com/2c73e96254.js" crossorigin="anonymous"></script>

    <script src="../static/scripts/accept_bids.js"></script>
    <script src="../static/scripts/ordered_parts.js"></script>
    <script src="../static/scripts/ordered_parts_mechs.js"></script>
    <script src="../static/scripts/create_job.js"></script>
    <script src="../static/scripts/modal_bid.js"></script>
    <script src="../static/scripts/mechanic_homepage.js"></script>
    <script src="../static/scripts/review_job.js"></script>
    <script src="../static/scripts/logout.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>
    <script src="../static/scripts/owlcarousel.js"></script>
    <script src="../static/scripts/search.js"></script>
    
  </body>
  </html>
